
.main-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #000000;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
    /* Ocultar barra de desplazamiento en Chrome, Safari y Opera */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.main-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}
.menu-container {
    width: 25%;
    background-color: #000000;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    height: 100vh;
}

.menu {
    background-color: #333;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.clima {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container_amigos {
    width: 25%;
    display: flex;
    position: sticky;
    margin-left: auto;
    top: 0;
    overflow: auto;
    z-index: 1000;
    background-color: #000000;
    flex-direction: column;
    height: 100vh;
}

.solicitudes {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.amigos{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.container {
    width: 55%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-post{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.container-form-post{
    padding: 20px;
}



.container_amigos h2 {
    margin-top: 0;
}



.amigo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.amigo button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.amigo button:hover {
    background-color: #0056b3;
}




